#home-page {
  background-image: linear-gradient(
    45deg,
    rgb(68, 68, 173),
    turquoise,
    rgb(36, 168, 36)
  );
  min-height: 100vh;
  text-align: center;
}

#links {
  margin-top: 10rem;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid tomato;
  border-radius: 0.5rem;
  background-color: rgba(143, 13, 13, 0.384);
  padding: 15px;
}
#register-question {
  color: rgb(0, 66, 128);
  font-size: 2rem;
  font-weight: 700;
}
.link {
  font-family: fantasy;
  padding-bottom: 20px;
  font-size: 5rem;
  color: wheat;
  font-weight: 400;
}
.link:hover {
  color: tomato;
}
